<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>sait.businesslogic.filters.AccessFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AdminFilter</filter-name>
        <filter-class>sait.businesslogic.filters.AdminFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>sait.businesslogic.filters.ManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <servlet-name>NotesServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <servlet-name>AdminServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <servlet-name>AccountServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <servlet-name>ManagerServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AdminFilter</filter-name>
        <servlet-name>AdminServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <servlet-name>ManagerServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>sait.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>sait.servlets.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotesServlet</servlet-name>
        <servlet-class>sait.servlets.NotesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>sait.servlets.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>sait.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagerServlet</servlet-name>
        <servlet-class>sait.servlets.ManagerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompanyServlet</servlet-name>
        <servlet-class>sait.servlets.CompanyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>sait.servlets.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/users/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotesServlet</servlet-name>
        <url-pattern>/notes/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerServlet</servlet-name>
        <url-pattern>/employees/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompanyServlet</servlet-name>
        <url-pattern>/companies/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/forgot/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>webmail-username</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>saitdbtest@gmail.com</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>webmail-password</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>saitdb123</env-entry-value>
    </env-entry>
</web-app>
